# Conservative editor defaults. Do not force legacy source line endings.
root = true

[*.dm]
indent_style = tab
charset = utf-8

[*.dme]
indent_style = tab
charset = utf-8

[*.dmf]
indent_style = tab
charset = utf-8

[*.ps1]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.md]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
