* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #ff00e4;
	font: bold 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.wrap {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 300px;
	border: 2px solid #000;
}

.content {
	height: 100%;
	line-height: 1.2;
	color: #ffffff;
	padding: 6px;
	border: 2px solid #333;
	background: #333;
}

.pinned .content {
	padding-right: 15px;
}

.wrap > .close-tip {
	position: absolute;
	display: block;
	top: 1px;
	right: 2px;
	padding: 3px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 1;
}

a {
	color: #fff;
}

h1 {
	margin: -5px 0 2px 0;
	font-size: 1.2em;
	line-height: 1.4;
}

p {
	margin: 0;
	line-height: 1.2;
}


/* Themes */

.default .wrap {border-color: #1B2967;}
.default .content {border-color: #0033CC; background-color: #005CB8;}

.red .wrap {border-color: #c10d0d;}
.red .content {border-color: #901010; background-color: #ca4646;}